* {
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #edeff0;
  padding: 1em;
}

h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

#search {
  width: 75%;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.navigation {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation #search {
    margin-top: 1em;
    width: 100%;
  }
}

#employee {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  #employee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}
@media (min-width: 998px) {
  #employee {
    grid-template-columns: repeat(3, 1fr);
  }
}

.employee-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 1em;
  flex-shrink: 0;
}
.employee-container:hover {
  opacity: 0.5;
}

.avatar,
.avatarModal {
  border-radius: 50%;
  margin-left: 1em;
  padding: 1em;
}

.avatarModal {
  align-self: center;
  width: 200px;
  height: 200px;
  margin-left: 0;
}

.contact-info,
.modal-contact-info,
.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 1em;
  flex-shrink: 0;
}

.email,
.city,
.names,
.cellphone,
.address,
.dob {
  margin: 0;
}

.moreInfo {
  text-align: center;
  font-weight: lighter;
}

.city {
  font-weight: lighter;
}

.address {
  margin: 1em 0;
}

.cellphone {
  margin-top: 1em;
}

.contact-info {
  padding: 1em;
}

.contact-info,
.city,
.names,
.address {
  text-transform: capitalize;
}

.email {
  text-transform: lowercase;
  margin: 0.5em 0;
  font-weight: lighter;
}

.names {
  font-weight: bold;
}

.modal-contact-info {
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin-bottom: 0.5em;
  margin-left: 0;
}
.modal-contact-info .city {
  margin-bottom: 1em;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalHTML {
  background-color: #fff;
  position: relative;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
.modalHTML .next {
  font-size: 55px;
  color: black;
  position: absolute;
  top: 50%;
  right: -10%;
  cursor: pointer;
}
.modalHTML .next:hover {
  color: #fff;
  opacity: 1;
}
.modalHTML .previous {
  font-size: 55px;
  color: black;
  position: absolute;
  top: 50%;
  left: -10%;
  cursor: pointer;
}
.modalHTML .previous:hover {
  color: #fff;
  opacity: 1;
}
@media (min-width: 768px) {
  .modalHTML {
    width: 40%;
  }
}

.modal-content {
  position: relative;
}

.closeBtn {
  color: #ccc;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 18%;
  z-index: 10;
}
@media (min-width: 768px) {
  .closeBtn {
    right: 32%;
  }
}
.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
